{% extends 'base.html.twig' %}
{% form_theme dateRangeForm 'bootstrap_3_layout.html.twig' %}

{% block adminSearch %}

    <div>Admin felület</div>

    {{ form_start(dateRangeForm) }}

    {{ form_label(dateRangeForm.from) }}
    {{ form_widget(dateRangeForm.from) }}

    {{ form_label(dateRangeForm.to) }}
    {{ form_widget(dateRangeForm.to) }}

    {{ form_label(dateRangeForm.list) }}
    {{ form_widget(dateRangeForm.list) }}

    {{ form_rest(dateRangeForm) }}

{% endblock %}

{% block adminTable %}


    {% if resultNumber is defined and fromDate is defined and toDate is defined and resultNumber >= 1 %}
        <p id="admin-ajax-table" data-page = 1 data-page-count="{{ resultNumber }}" data-from-date = "{{ fromDate|date('Y-m-d') }}" data-to-date = "{{ toDate|date('Y-m-d') }}"></p>
        <a id="admin-ajax-previous">Előző</a>
        <a id="admin-ajax-next">Következő</a>
    {% endif %}

{% endblock %}