{% block breadcrumb %}

        {% for arrays in breadcrumbs %}
            {% for url, title in arrays %}
                <a href="{{ url }}" class="btn btn-info" role="button">{{ title }}</a>
            {% endfor %}
        {% endfor %}

{% endblock %}

{% block surgerySelectBlock %}
<div class="container-fluid">
    <div class="form-group">
    {{ form_start(form) }}

    {{ form_label(form.surgery) }}
    {{ form_widget(form.surgery) }}

    {{ form_label(form.reservation_date) }}
    {{ form_widget(form.reservation_date) }}

    {{ form_end(form) }}
    <div>
</div>

{% endblock %}


{% block tableBlock %}

    <div id="reservation-table"></div>

{% endblock %}

{% block formBlock %}

    <div id="reservationForm"></div>

{% endblock %}