{% extends 'base.html.twig' %}

    {% block breadcrumb %}

        {% for arrays in breadcrumbs %}
            {% for url, title in arrays %}
                <a href="{{ url }}" class="btn btn-info" role="button">{{ title }}</a>
            {% endfor %}
        {% endfor %}

    {% endblock %}

{% block search_box %}
            <form action="{{ 'code-result' }}" method="POST">
             <div class="form-group row">
                 <div class="col-sm-4 col-xs-12 pull-right ">
                     <input required="required" placeholder="Foglalási kód" type="text" class="form-control" id="searchBox" name="searchInput">
                     <button type="submit" class="btn btn-info pull-right col-sm-4 col-xs-12">Keress!</button>
                 </div>
             </div>
             </form>
{% endblock %}

{% block surgerySelectBlock %}
<div class="container-fluid">
    <div class="form-group">
        <select id="surgerySelector" class="form-control col-sm-4 col-offset-2">
            <option value="">Kérem válasszon!</option>
            {% for key, surgery in surgeries %}
                <option value="{{ key }}">{{ surgery }}</option>
            {% endfor %}
        </select>
    <div>
</div>

{% endblock %}

{% block datepicker %}

    <div id="dateSelector" style="display:none;">
        <br>
        <p id="selector">Dátum választása: <input data-config-datepicker="{{ dayLimit }}"  type="text" id="datepicker"></p>
            <div id="forwardButton" style="display: none;">
        <br>
        <button class="btn btn-success" id="toTableButton">Tovább a foglaláshoz!</button>
        </div>
    </div>

{% endblock %}

{% block tableBlock %}

    <div id="reservationTable"></div>

{% endblock %}

{% block formBlock %}

    <div id="reservationForm"></div>

{% endblock %}