{% block breadcrumb %}

    {% for arrays in breadcrumbs %}
        {% for url, title in arrays %}
            <a id="{{ url }}" class="btn btn-info" role="button">{{ title }}</a>
        {% endfor %}
    {% endfor %}

{% endblock %}

{% block info_box %}
    <div id="summary-title">Összesítő oldal</div>
    <br>
    <div>Rendelő neve:</div>
    <p>{{ surgery }}</p>
    <div>Időpont:</div>
    <p>{{ date }} {{ hour }}:00 óra ({{ dayOfWeek }})</p>

    <button id="reserve" type="button" class="btn btn-success" title="Időpont foglalás véglegesítés">Időpont lefoglalása</button>

{% endblock %}
