{% block info_box %}

    <p>{{ surgery }}</p>
    <p>{{ date }}</p>

{% endblock %}

{% block breadcrumb %}

    {% for arrays in breadcrumbs %}
        {% for url, title in arrays %}
            <a id="{{ url }}" class="btn btn-info" role="button">{{ title }}</a>
        {% endfor %}
    {% endfor %}

{% endblock %}

{% block summary %}
    <div>Összesítő oldal</div>
    {#<div>Rendelő neve:</div>#}
    {#<div>{{ surgery }}</div>#}
    {#<div>Időpont:</div>#}
    {#<div>{{ reservation_date }}</div>#}
{% endblock %}