{% block info_box %}

    {% if surgery is defined %}
        {{ surgery }}
    {% endif %}
    {% if date is defined %}
        {{ date }}
    {% endif %}

{% endblock %}

{% block breadcrumb %}

    {% for arrays in breadcrumbs %}
        {% for url, title in arrays %}
            <a id="{{ url }}" class="btn btn-info" role="button">{{ title }}</a>
        {% endfor %}
    {% endfor %}

{% endblock %}

{% block surgerySelectBlock %}

    <div class="container-fluid" id="surgery-date">
    <div class="form-group">
    {{ form_start(form) }}

    {{ form_label(form.surgery) }}
    {{ form_widget(form.surgery) }}

    {{ form_label(form.reservation_date) }}
    {{ form_widget(form.reservation_date) }}

    {{ form_end(form) }}

    <div>
    </div>
{% endblock %}