{% block breadcrumb %}

        {% for arrays in breadcrumbs %}
            {% for url, title in arrays %}
                <a id="{{ url }}" class="btn btn-info" role="button">{{ title }}</a>
            {% endfor %}
        {% endfor %}

{% endblock %}

{% block info_box %}

    <p>{{ surgery }}</p>
    <p>{{ date }}</p>
    <p>{{ hour }}</p>

{% endblock %}

{% block reservation_table %}

    <div id="table">

        <table class="table table-striped">
            <thead>
            <th>Óra</th>
            <th>Foglalás</th>
            </thead>
            <tbody>
            {% for i in 8..15 %}
                <tr>
                    <td>{{ i }}:00</td>
                    {% if reserved[i] is defined %}
                        <td><input type="button" class="btn btn-danger" value="Foglalt" data-hour="{{ i }}" title="Nem foglalható időpont" disabled></td>
                    {% elseif hour == i  %}
                        <td><input type="button" class="btn btn-warning" id="reservationButton" value="Kiválasztva" data-hour="{{ i }}" title="Ön által kiválasztva, kattintásra tovább az összesítő oldalra"></td>
                    {% else %}
                        <td><input type="button" class="btn btn-info" id="reservationButton" value="Lefoglalom" data-hour="{{ i }}" title="Időpont kiválasztása, kattintásra tovább az összesítő oldalra"></td>
                    {% endif %}
                </tr>
            {% endfor %}

            </tbody>

        </table>

    </div>

{% endblock %}